.container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.image-desktop {
    max-width: 100%;
}
.image-mobile {
display: none;
}
h3 {
    font-size: 1rem;
}
h4 {
    font-size: 1rem;
}

.row {
    height: 100%;
}
.section2 {
    max-height: 22em;
    max-width: 100%;
}
.section2 ul{
    list-style-image: url('img/icons/crow.png');
}
.section3 {
    background-color: #ba813f;
    max-height: 10em;
    width: 100%;
}
.section3 li {
    background-color: transparent;
    color: white;
    width: 25%;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 3px solid white !important; 
    border-radius: 0% !important;
    text-align: center;
}
.section3 ul {
    border-right: 3px solid white;
}
.section4 {
    background-image: url("img/elements/section4-back.jpg");
    background-size: cover;
    max-width: 100%;
    color: white;
}
.section6 {
    background-image: url("img/elements/section6-back.jpg");
    background-size: cover;
    width: 100%;
}

.shield {
    max-height: 100%;
}
@media (max-width:768px) {
    .image-desktop {
        display: none;
    }
    .image-mobile {
        display: block;
    }
    .section1 {
        background-size: cover;
        padding: 0;
        }
}
